<html>
	<head>
		<link href="weather-report.css" rel="stylesheet" type="text/css">
		<title><%= headerTitle %></title>
	</head>
	<body>
		<%= successMessage %><br>
		<%= weatherReport %>
	</body>
</html>